:host {
    top     : 95px;
    left    : 20px;
    right   : 20px;
    overflow: visible;

    section {
        height: 100%;
    }

    ion-card {
        background: #000;
        box-shadow: 0 1px 5px #303035;
        height    : 92%;

        video {
            width : 100%;
            height: 100%;
        }
    }

}

ion-nav-link {
    position: absolute;
    top     : -125px;
    left    : -20px;
    z-index : 102;
    width   : 72px;

    ion-button {
        font-size           : 12px;
        height              : 30px;
        --ion-color-contrast: #484848 !important;
        margin              : 0;
    }
}