
<!-- <ion-header>
  
</ion-header> -->

<section>
<!-- <ion-content> -->
  <ion-nav-link router-direction="back">
    <ion-button expand="block" color="medium">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>返回
    </ion-button>
  </ion-nav-link>
  <!-- <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar> -->

  <ion-card>
    <video controls id="video1">
      <source [src]="lesson.lessonMedia?.video" type="video/mp4" media="screen and (min-width:320px)">
      您的浏览器不支持 video 标签。
    </video>
  </ion-card>
<!-- </ion-content> -->


</section>