@import "../../../style/mixin.scss";

/* Andy 2020.2.20 16:32 ; */
                    :host ::ng-deep ion-slides .swiper-pagination-fraction {
  color        : #fff;
  background   : rgba(207, 138, 138, 0.5);
  border-radius: 10px;
  width        : auto;
  right        : 20px;
  left         : auto;
  font-size    : 12px;
  padding      : 0 10px;
  line-height  : 20px;
}

.product-detail-name {
  font-size  : 22px;
  font-weight: 700;
  color      : #222;
  padding    : 10px 16px;
  line-height: 34px;
}

.product-detail-benifit {
  background   : #ffc53d;
  border-radius: 2px;
  font-size    : 12px;
  color        : #222;
  margin-right : 3px;
  margin-bottom: 3px;
}

.product-detail-sellingPoints {
  padding      : 10px 0px;
  margin       : 0px 16px;
  color        : #999;
  font-size    : 14px;
  line-height  : 22px;
  border-bottom: 1px solid #f5f5f5;
}

ion-row.ion-padding-horizontal.ion-margin-vertical ion-col {
  padding: 0
}

.product-detail-days {
  font-size  : 14px;
  font-weight: 700;
  color      : #222;
}

.product-detail-price {
  font-size  : 24px;
  font-weight: 700;
  color      : #f9541c;
}

.product-detail-price:after {
  content  : "元起/人";
  font-size: 12px;
  color    : #4a4a4a;
}

.product-detail-price-booking {
  font-size: 12px;
  color    : #999;
}

ion-segment::after {
  position  : absolute;
  bottom    : 0;
  height    : 4px;
  width     : 100%;
  content   : '';
  background: #f5f5f5;
  z-index   : -1;
}

ion-segment-button {
  font-size         : 15px;
  color             : #222;
  --indicator-color : #ffc53d;
  --indicator-height: 4px;
}

ion-segment-button.segment-button-checked {
  font-weight: 700;
}

.shape-dot-12 {
  display       : inline-block;
  background    : #ffc53d;
  vertical-align: middle;
  margin-right  : 10px;
  border-radius : 50%;
  width         : 12px;
  height        : 12px;
  position      : relative;
}

.shape-dot-12::before {
  @extend .shape-dot-12;
  width   : 6px;
  height  : 6px;
  content : '';
  position: absolute;
  top     : 25%;
  left    : -15px;
}

.item-title {
  font-size    : 16px;
  font-weight  : 700;
  color        : #222;
  margin-bottom: 10px;
}

.item-title::before {
  @extend .shape-dot-12;
  width    : 8px;
  height   : 8px;
  position : initial;
  transform: translate(0%, -20%);
}

.item-title.no-dot::before {
  display: none;
}

.item-descrition {
  font-size  : 14px;
  color      : #4a4a4a;
  text-align : justify;
  line-height: 22px;
  white-space: normal;
  margin     : 10px 0px;
}

ion-item ion-icon {
  background    : #ffc53d;
  width         : 15px;
  height        : 15px;
  padding       : 6px;
  border-radius : 50%;
  vertical-align: middle;
  margin-right  : 0px 10px 0px 2px;
  position      : absolute;
  top           : 0px;
  left          : calc(var(--padding-start) + 1px);
}

ion-item-group::before {
  position     : absolute;
  top          : 43px;
  left         : 34px;
  bottom       : 10px;
  background   : #e8e8e8;
  width        : 1px;
  // content   : '';  /* 个人注：route line 方案一 */
  z-index      : 100;
}

.route-line {
  /* 个人注：route line 方案二 */
  position  : absolute;
  top       : 0px;
  left      : 34px;
  bottom    : 0px;
  background: #e8e8e8;
  width     : 1px;
}

ion-list-header {
  font-size  : 20px;
  color      : #222;
  font-weight: 700;
}

ion-list#tour-itinerary {
  ion-item-group {
    ion-item-divider {
      --background: initial;
      font-size   : 18px;
      font-weight : 700;

      ion-img {
        display       : inline-block;
        width         : 24px;
        vertical-align: middle;
        margin        : 0px 10px;
        transform     : rotateY(180deg);
      }
    }

    ion-item {
      --inner-padding-start: 40px;

      ion-note {
        font-size  : 14px;
        color      : #999;
        margin     : 0px 0px 10px 0px;
        display    : inline-block;
        white-space: normal;
      }
    }
  }
}

ion-list#fee-description {
  margin-top   : 0;
  margin-bottom: 0;

  ion-item-group {
    margin-top    : 24px;
    margin-bottom : 14px;
    padding-bottom: 10px;
    background    : #f8f8f8;

    ion-item-divider {
      font-size    : 16px;
      font-weight  : 700;
      color        : #222;
      background   : #fff1cf;
      margin-bottom: 10px;
    }

    ion-item {
      --background  : #f8f8f8;
      --min-height  : 28px;
      --border-width: 0;

      ion-label,
      ion-row {
        font-size    : 14px;
        color        : #222;
        font-weight  : 700;
        margin-top   : 0;
        margin-bottom: 0;
      }
    }
  }
}

ion-list#booking-information,
ion-list.warm-prompt {
  ion-item ion-label p {
    font-size   : 14px;
    color       : #222;
    white-space : normal;
    text-align  : justify;
    line-height : 30px;
    padding-left: 16px;
    position    : relative;

    &::before {
      position     : absolute;
      top          : 12px;
      left         : 0px;
      content      : "";
      width        : 6px;
      height       : 6px;
      border-radius: 3px;
      background   : #ffc53d;
    }
  }
}

.shape-dot-bubble {
  width        : 30px;
  height       : 30px;
  background   : #ffc53d;
  border-radius: 50% 50% 50% 0%;
  transform    : rotate(-45deg);
  margin-right : 10px;

  &::before {
    position   : absolute;
    top        : 5px;
    left       : 5px;
    transform  : rotate(45deg);
    content    : "D1";
    font-weight: 700;
    font-size  : 15px;
  }

}

.logo {
  display        : flex;
  justify-content: center;
  background     : #f5f5f5;
  height         : 100px;
}