<ion-header [class.ion-hide]="onlyContent">
  <ion-toolbar class="toolbar-main">
    <ion-row class="raw-center-horizontal">
      <ion-col size-1="auto" class="xmt-font-size-26">
        <ion-icon name="book"></ion-icon>
        <ion-label>阿尔法蜗牛云课堂</ion-label>
      </ion-col>

      <ion-col size="auto">
        <ion-label>我的学习</ion-label>
        <ion-label class="xmt-margin-left-20">登录/注册</ion-label>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content> -->
<router-outlet></router-outlet>


<ion-footer [class.ion-hide]="onlyContent">
  <ion-toolbar class="toolbar-main">
    <ion-row class="raw-center-horizontal xmt-padding-vertical-30">
      <ion-col size-1="auto" class="">
        <p class="mb10 lh-22"> 阿尔法蜗牛云课堂 是XX公司（xx.com）旗下专注职业技能提升的在线学习平台。 </p>
        <div class="foot_about">
          <a href="//study.1634.com/about/aboutus.htm#/about?aboutType=1" target="_blank" data-index="关于我们">关于我们</a>
          <a href="//study.1634.com/about/aboutus.htm#/about?aboutType=2" target="_blank" data-index="联系我们">联系我们</a>
          <a href="//study.1634.com/about/aboutus.htm#/about?aboutType=4" target="_blank" data-index="帮助中心">帮助中心</a>
          <a href="//www.icourse163.org/" target="_blank" data-index="中国大学MOOC">中国大学MOOC</a>
          <a href="//geek.163.com/?utm_source=study.163.com&amp;utm_medium=web_bottombanner&amp;utm_campaign=business&amp;utm_content=qxq20180720" target="_blank" data-index="卡搭编程">卡搭编程</a>
          <!-- <a href="//codecombat.163.com/" target="_blank" data-index="极客战记">极客战记</a> -->
        </div>

        <div class="mt15 color-gray-999">
          ©1997-2020 阿尔法蜗牛公司 版权所有 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;粤B2-20090191-18
          <span class="ml20"><a class="color-gray-999" href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">工业和信息化部备案管理系统网站</a></span>
        </div>
      </ion-col>

      <ion-col size="auto">
        <a target="_blank" class="app-store-download-logo-1" href="https://itunes.apple.com/cn/app/wang-yi-yun-ke-tang-for-iphone/id880452926?mt=8"></a>
        <a target="_blank" class="app-store-download-logo-2" href="//study.163.com/pub/study-android-official.apk"></a>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>